<!DOCTYPE html>
<html>
<head>
  <title>Whatsup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h2><em>WhatsUp.com</em></h2>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="hmenu">
      <%#= render 'devise/menu/registration_items' %>
      <% if current_user %>
        <%= render 'devise/menu/login_items' %>
      <% end %>
    </div>

    <%= yield %>

  </div>
</body>
</html>
